<form class="justify-self-center w-full relative" (submit)="formSubmit($event)">
    <textarea name="commentText" id="" rows="4" [placeholder]="placeholder" maxlength="240" required
        class="w-full border border-neutral-500 mt-5 p-5 rounded-md resize-none text-sm"></textarea>
    <button type="submit"
        class="rounded-sm flex absolute right-5 bottom-5 bg-indigo-600 px-3 py-1.5 text-sm font-medium text-white hover:bg-indigo-700">
        {{buttonText}}
        <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor"
            class="size-5 ml-1">
            <path stroke-linecap="round" stroke-linejoin="round"
                d="M6 12 3.269 3.125A59.769 59.769 0 0 1 21.485 12 59.768 59.768 0 0 1 3.27 20.875L5.999 12Zm0 0h7.5" />
        </svg>
    </button>
</form>