<main
    class="max-w-2xl p-5 min-h-[calc(100vh-4rem)] flex flex-col items-center border-r border-r-gray-400 border-l border-l-gray-400">
    <h1 class="text-3xl font-bold">
        Bem-vindo ao Thread.ly
    </h1>


    <p class="font-light text-lg">O <strong class="font-semibold">Thread.ly</strong> é mais do que uma plataforma de
        microblogging - é um espaço onde ideias
        ganham
        voz
        e conversas se
        transformam em conexões reais. Inspirado nas melhores experiências das redes sociais modernas, nosso aplicativo
        foi
        criado para ser simples, intuitivo e seguro, permitindo que você compartilhe seus pensamentos e interaja com uma
        comunidade engajada de forma espontânea.
    </p>

    <h2 class='text-2xl mt-5 font-bold'>O que você encontra no Thread.ly?</h2>

    <ul class="list-disc p-5 font-light text-lg">
        <li><strong class="font-bold">Publicações Dinâmicas:</strong> Crie posts curtos, inicie conversas e
            acompanhe
            as
            tendências em
            tempo real.</li>
        <li><strong class="font-bold">Interação e Diálogo:</strong> Responda, comente e participe de threads que
            estimulam debates
            construtivos e
            enriquecedores.</li>
        <li><strong class="font-bold">Design Moderno:</strong> Uma interface limpa e organizada que facilita a
            navegação, fazendo com que
            cada interação
            seja
            agradável
            e eficiente.</li>
        <li><strong class="font-bold">Comunidade Diversa:</strong> Junte-se a pessoas de diferentes lugares e com
            diferentes pontos de
            vista, criando um
            ambiente onde
            cada voz tem valor.</li>
        <li><strong class="font-bold">Anonimato Facilitado:</strong> Para tornar sua experiência ainda mais prática, o
            Thread.ly gera
            automaticamente
            avatares
            e
            nicknames aleatórios para os usuários. Isso permite que você participe e se expresse de forma totalmente
            anônima, sem
            precisar passar pelo esforço de criar uma conta ou realizar login.</li>
        <li><strong class="font-bold">Nossa missão é:</strong> conectar pessoas, inspirar diálogos e transformar ideias
            em ações. No Thread.ly, acreditamos
            que
            cada
            thread conta uma história e que, juntos, podemos construir um espaço de troca de experiências e crescimento
            mútuo.</li>
    </ul>
    <p class="border-t border-t-gray-400 pt-5 font-light w-full">Venha fazer parte dessa revolução na comunicação
        digital
        e
        descubra um
        novo
        jeito de se expressar. Seja bem-vindo
        ao
        <strong>Thread.ly</strong> - onde suas ideias ganham vida de maneira prática, anônima e inovadora!
    </p>
</main>