<main
    class="max-w-2xl p-5 min-h-[calc(100vh-4rem)] flex flex-col items-center border-r border-r-gray-400 border-l border-l-gray-400">
    <h1 class="text-3xl font-bold">
        Welcome to Thread.ly
    </h1>

    <p class="font-light text-lg">
        <strong class="font-semibold">Thread.ly</strong> is more than just a microblogging platform – it's a space where
        ideas are given a voice and conversations transform into real connections. Inspired by the best experiences of
        modern social networks, our app was created to be simple, intuitive, and secure, allowing you to share your
        thoughts and engage with a vibrant community in a spontaneous way.
    </p>

    <h2 class="text-2xl mt-5 font-bold">What can you find on Thread.ly?</h2>

    <ul class="list-disc p-5 font-light text-lg">
        <li>
            <strong class="font-bold">Dynamic Posts:</strong> Create short posts, start conversations, and keep up with
            trends in real time.
        </li>
        <li>
            <strong class="font-bold">Interaction and Dialogue:</strong> Reply, comment, and participate in threads that
            foster constructive and enriching debates.
        </li>
        <li>
            <strong class="font-bold">Modern Design:</strong> A clean, organized interface that makes navigation easy,
            ensuring every interaction is pleasant and efficient.
        </li>
        <li>
            <strong class="font-bold">Diverse Community:</strong> Join people from different places and with various
            perspectives, creating an environment where every voice matters.
        </li>
        <li>
            <strong class="font-bold">Facilitated Anonymity:</strong> To make your experience even more seamless,
            Thread.ly automatically generates random avatars and nicknames for users. This allows you to participate and
            express yourself completely anonymously, without the hassle of creating an account or logging in.
        </li>
        <li>
            <strong class="font-bold">Our Mission is:</strong> to connect people, inspire dialogue, and turn ideas into
            action. At Thread.ly, we believe every thread tells a story, and together we can build a space for
            exchanging experiences and fostering mutual growth.
        </li>
    </ul>

    <p class="border-t border-t-gray-400 pt-5 font-light w-full">
        Join this revolution in digital communication and discover a new way to express yourself. Welcome to
        <strong>Thread.ly</strong> – where your ideas come to life in a practical, anonymous, and innovative way!
    </p>
</main>