<main
    class="max-w-2xl p-5 min-h-[calc(100vh-4rem)] flex flex-col items-center border-l border-l-gray-500 border-r border-r-gray-500 -ml-3.5">
    <h1 class="text-3xl font-bold pb-3 border-b border-b-gray-400 mb-3 w-full text-center">
        Welcome to Thread.ly
    </h1>

    <p class="font-light text-lg text-center">
        <strong class="font-semibold">Thread.ly</strong> is more than just a microblogging platform – it's a space where
        ideas are given a voice and conversations transform into real connections. Inspired by the best experiences of
        modern social networks, our app was created to be simple, intuitive, and secure, allowing you to share your
        thoughts and engage with a vibrant community in a spontaneous way.
    </p>